*.pyc
*~
*.project
*.pydevproject
.settings
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
.metadata
*.cache/
*.pytest_cache/
__pycache__

/venv*/
/.idea/
/*egg-info/
*dist
build/

*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
.coverage
.tox
*.log
